@import url('https://fonts.googleapis.com/css2?family=Chokokutai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-chokokuta {
   font-family: 'Chokokutai', cursive;
}

.font-caprasimo {
   font-family: 'Caprasimo', cursive;
}


@keyframes blink {
   0% {
      opacity: 1;
   }

   50% {
      opacity: .5;
   }

   100% {
      opacity: 1;
   }
}

/* Apply the animation to the text */
.blinking-text {
   animation: blink 1s infinite;
}